[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
tensorflow-gpu = "*"
gdown = "*"

[dev-packages]

[requires]
python_version = "3.8"
